################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/RRHH_ISERTEC/FileContentIndex/1f99f322-ef29-4aae-b4c7-414dc140cf15.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/6f3018b9-5691-4c22-a2fa-e3905003f725.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/47ae89be-8db0-43bd-8bfe-236f2b8f91dc.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/854b73a8-6e00-40f5-a42c-1f9eccaed1e8.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/a4f347e8-2f0c-487b-a35e-36e3d86b5d55.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/d2974315-ff51-4bf7-9f77-8183b3b44cc9.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/0af4f64f-ddfa-4de4-8737-8f90b27e20a4.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/4b08306b-ffa3-43f2-a5fb-51cf5693f1e7.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/553bfeda-670e-46d0-a471-1ee7e48799eb.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/579d765d-3624-4f60-bb68-3ca3e27712bc.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/f9b9d00c-7321-4076-be5d-38b96b99b3c6.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/e2f17f79-313d-425e-be9f-7b25444f755e.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/976c4acd-201c-42eb-a716-7d5dbc891a86.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/46b093ba-7264-41d8-9a57-9fa335ef6c71.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/9cfd6e02-fcfc-43eb-aec2-1fa1d3dd4c66.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/69d28cd1-4070-47e2-982a-45dd0f5017b4.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/050f5798-4ed3-43e5-bf37-7c07da24ba54.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/0de4409f-6811-48f7-9a13-57f2a1a4bd58.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/4121258f-d68b-4010-aa56-fdd14f0f7d40.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/618a5b93-3526-49d1-9e8f-92da5187bab5.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/2c216f3d-709e-4d6b-af81-33234dad7ba2.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/3abdc1c3-1ec5-48f3-adc3-cc371f677d9f.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/51cb8b30-fc99-436e-89f2-cb9e23dc7ecb.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/8079841c-d674-4c33-ad26-1def3ad27e52.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex
/.vs/RRHH_ISERTEC_GT/FileContentIndex/fbf2f800-4502-475c-b8c7-e5877541239a.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/5945b723-0490-45e5-88c4-6e83f63cb22e.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/45f2c9d1-8cab-436a-ab65-6cc766b87598.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/64c59938-8a36-49b9-a95c-cc474e86ae95.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/081316ba-6a47-45a3-8515-72b936c64529.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/c1b21ba0-47bc-4bc3-9484-28d384b94b45.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/b9ef3586-d6f5-4fc8-9086-eaa528ebf5f5.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/b66aa27a-84f5-4f3e-a70d-a7587d363f37.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/6406e74a-5ce6-46c9-bbdc-83aadf658f22.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/2a2df6bc-6a51-4eb5-a900-f20e2b545770.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/5c0a2fef-eea5-40f1-b421-53af63175766.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/bb064869-ce26-4e8d-b7a9-b12cc149267b.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/45369d53-5038-42fb-90cb-9a7468c77e11.vsidx
/.vs/RRHH_ISERTEC_GT/FileContentIndex/