################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/RRHH_ISERTEC/FileContentIndex/1f99f322-ef29-4aae-b4c7-414dc140cf15.vsidx
/.vs/RRHH_ISERTEC/FileContentIndex/6f3018b9-5691-4c22-a2fa-e3905003f725.vsidx
