@{
    ViewBag.Title = "Plantillas Corporativas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #F4F6F9;
    }


    .seccion-card {
        background-color: #ffffff;
        border-radius: 14px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
        padding: 30px;
        margin-bottom: 30px;
    }


    .subtitulo-seccion {
        color: #1E7F5C;
        font-weight: 700;
        margin-bottom: 15px;
        text-align: center;
    }


    .card-formulario {
        background-color: #E9ECEF;
        border-radius: 12px;
        padding: 25px;
        text-align: center;
        transition: 0.25s ease;
        color: #212529 !important;
        font-weight: 600;
    }


        .card-formulario a {
            color: black;
            text-decoration: none;
            font-weight: 600;
        }

        .card-formulario:hover {
            transform: translateY(-3px);
            box-shadow: 0 6px 18px rgba(0,0,0,0.15);
        }

        .card-formulario .card-body {
            position: relative;
        }
    .card-destacada > div:not(.icono-doc) {
        color: #1E2329;
    }

    .icono-doc {
        font-size: 32px;
        color:  black;
    }
    .icono-container {
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .icono-doc {
        font-size: 32px !important;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #000000;
    }

    .link-card {
        display: block;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }

    .titulo-formulario {
        color: #000000 !important;
        font-weight: 700;
        font-size: 1.1rem;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-10 mt-4">

            <h4 class="text-center">Plantillas Corporativas</h4>



            <div class="seccion-card">

                <h5 class="subtitulo-seccion text-center">
                    Plantillas para Google Docs
                </h5>

                <div class="row justify-content-center g-3">

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="https://docs.google.com/document/d/1DKBTv-AYFQp5Sa9Bk8hP_Jc6gKH6sVmd1CeMNYfrvzs/edit?tab=t.0"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Carta de Entregables
                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="https://docs.google.com/document/d/14Av1pWcFV0ZfwldMmlCsqQesN6hFmeQ1HEzJKaP8nIk/edit?tab=t.0"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Hoja Membretada
                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="https://docs.google.com/document/d/19-xvwS_pyB4nwKz3mJNLMhMLfr_k75umBbc3C_CB7OU/edit?tab=t.0"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Hoja Membretada Numerada
                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="https://docs.google.com/document/d/1qwgnzuGoTFlXEvccFlXZnI9s3C4KhcTJylqc8KotJIs/edit?tab=t.0"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Plantilla - Proyectos 2025
                                </div>
                            </div>

                        </a>
                    </div>

                </div>

            </div>



            <div class="seccion-card">

                <h5 class="subtitulo-seccion text-center">
                    Plantillas para Office 365
                </h5>

                <div class="row justify-content-center g-3">

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="LINK_OFFICE_1"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Plantilla Office 1
                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="LINK_OFFICE_2"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Plantilla Office 2
                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="LINK_OFFICE_3"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Plantilla Office 3
                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="LINK_OFFICE_4"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Plantilla Office 4
                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="LINK_OFFICE_5"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Plantilla Office 5
                                </div>
                            </div>

                        </a>
                    </div>

                </div>

            </div>
            <div class="seccion-card">

                <h5 class="subtitulo-seccion text-center">
                    Presentaciones
                </h5>

                <div class="row justify-content-center g-3">

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="LINK_PRESENTACION_1"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-slides icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Presentación Corporativa
                                </div>
                            </div>

                        </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <a href="LINK_PRESENTACION_2"
                           class="link-card"
                           target="_blank">

                            <div class="card-formulario">
                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-slides icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Presentación Comercial
                                </div>
                            </div>

                        </a>
                    </div>

                </div>

            </div>




        </div>
                </div>
            </div>

