@{
    ViewBag.Title = "Formularios Digitales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #F4F6F9;
    }

    .seccion-card {
        background-color: #ffffff;
        border-radius: 14px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
        padding: 30px;
        margin-bottom: 30px;
    }

    .subtitulo-seccion {
        color: #1E7F5C;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }

    .card-formulario {
        background-color: #e9ecef;
        border-radius: 12px;
        padding: 22px;
        text-align: center;
        transition: 0.25s ease;
    }

        .card-formulario:hover {
            transform: translateY(-3px);
        }

        .card-formulario a,
        .card-formulario a:visited,
        .card-formulario a:hover,
        .card-formulario a:active {
            color: #212529 !important;
            text-decoration: none;
            font-weight: 600;
        }
    .icono-container {
        margin-bottom: 8px;
    }

    .icono-doc {
        font-size: 28px;
        color: #000000; 
    }


    .link-card {
        display: block;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }

 
        .link-card:hover .card-formulario {
            transform: translateY(-3px);
            cursor: pointer;
        }


    .icono-container {
        height: 42px; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }


    .icono-doc {
        font-size: 32px !important;
        line-height: 1; 
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #000000;
    }

    .titulo-formulario {
        color: #000000 !important; 
        font-weight: 700;
        font-size: 1.1rem; 
    }
</style>



<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 mt-4">


            <h4 class="titulo-seccion text-center mb-4">
                Formularios / Formatos Digitales
            </h4>

            <div class="seccion-card">

                <h5 class="subtitulo-seccion text-center">Anticipos</h5>

                <div class="row justify-content-center g-3">

       
                    <div class="col-md-5">
                        <a href="~/Files/Formularios PDF/Anticipo de Salario.pdf"
                           class="link-card"
                           target="_blank">
                            <div class="card-formulario">

                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>
                                <div class="titulo-formulario">
                                    Anticipo Salario
                                </div>

                            </div>
                        </a>
                    </div>

           
                    <div class="col-md-5">
                        <a href="~/Files/Formularios PDF/Anticipo de Bono 14.pdf"
                           class="link-card"
                           target="_blank">
                            <div class="card-formulario">

                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Anticipo Bono 14
                                </div>




                            </div>
                        </a>
                    </div>

      
                    <div class="col-md-5">
                        <a href="~/Files/Formularios PDF/Anticipo de Aguinaldo.pdf"
                           class="link-card"
                           target="_blank">
                            <div class="card-formulario">

                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>
                                <div class="titulo-formulario">
                                    Anticipo Aguinaldo
                                </div>

                            </div>
                        </a>
                    </div>

               
                    <div class="col-md-5">
                        <a href="~/Files/Formularios PDF/Anticipo de Bonificaciones.pdf"
                           class="link-card"
                           target="_blank">
                            <div class="card-formulario">

                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Anticipo Bonificaciones
                                </div>

                            </div>
                        </a>
                    </div>

                </div>
            </div>



            <div class="seccion-card">

                <h5 class="subtitulo-seccion text-center">Asignaciones</h5>

                <div class="row justify-content-center g-3">

                    <div class="col-md-5">
                        <a href="~/Files/Formularios PDF/Asignación de Combustible.pdf"
                           class="link-card"
                           target="_blank">
                            <div class="card-formulario">

                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Asignación de Combustible
                                </div>

                            </div>
                        </a>
                    </div>

                    <div class="col-md-5">
                        <a href="~/Files/Formularios PDF/Asignación de Caja Chica v2.pdf"
                           class="link-card"
                           target="_blank">
                            <div class="card-formulario">

                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Asignación de Caja Chica
                                </div>

                            </div>
                        </a>
                    </div>

                </div>
            </div>





            <div class="seccion-card">

                <h5 class="subtitulo-seccion text-center">Descuentos</h5>

                <div class="row justify-content-center g-3">

         
                    <div class="col-md-5">
                        <a href="~/Files/Formularios PDF/Autorización de Descuentos.pdf"
                           class="link-card"
                           target="_blank">
                            <div class="card-formulario">

                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>
                                <div class="titulo-formulario">
                                    Autorización de Descuentos
                                </div>

                            </div>
                        </a>
                    </div>

                </div>
            </div>



            <div class="seccion-card">

                <h5 class="subtitulo-seccion text-center">Otras Solicitudes</h5>

                <div class="row justify-content-center g-3">

                    <div class="col-md-5">
                        <a href="~/Files/Formularios PDF/Préstamo Interno.pdf"
                           class="link-card"
                           target="_blank">
                            <div class="card-formulario">

                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Préstamos Internos
                                </div>

                            </div>
                        </a>
                    </div>

                   
                    <div class="col-md-5">
                        <a href="~/Files/Formularios PDF/Cambio de Horario.pdf"
                           class="link-card"
                           target="_blank">
                            <div class="card-formulario">

                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Cambio de Horario
                                </div>

                            </div>
                        </a>
                    </div>

                
                    <div class="col-md-5">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSel9pb5SVIyQjFL9jOjY3UhQE_cauD2TMvJDrv8_zW00wfYvg/viewform"
                           class="link-card"
                           target="_blank">
                            <div class="card-formulario">

                                <div class="icono-container">
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="titulo-formulario">
                                    Requerimiento de Capacitación, Evento y Certificación
                                </div>

                            </div>
                        </a>
                    </div>

                </div>
            </div>




        </div>
    </div>
</div>
