@{
    ViewBag.Title = "Formularios Digitales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-11">
            <h4>Formularios / Formatos  ISERTEC</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Anticipo Bonificaciones.pdf" style="color:white!important">Anticipo Bonificaciones</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Anticipo Salario.pdf" style="color:white!important">Anticipo de Salario</a>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Asignacion de Combustible.pdf" style="color:white!important">Asignación de Combustible</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Cambio de Horario.pdf" style="color:white!important">Cambio de Horario</a>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Descuento.pdf" style="color:white!important">Descuento</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Fondo de Caja Chica.pdf" style="color:white!important">Fondo de Caja Chica</a>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Prestamo Interno.pdf" style="color:white!important">Prestamo Interno</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Solicitud de Anticipo Aguinaldo.pdf" style="color:white!important">Solicitud de Anticipo Aguinaldo</a>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Solicitud de Anticipo Bono 14.pdf" style="color:white!important">Solicitud de Anticipo Bono 14</a>
                    </div>
                </div>

                

            </div>

            

            </div>
        </div>
    </div>
</div>
