@{
    ViewBag.Title = "Firma Digital de Correo Electrónico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string puesto = Session["comments"].ToString();
}


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("unidad").addEventListener("change", () => {
            const logo = document.getElementById("logo");
            const seleccion = document.getElementById("unidad").value;

            const logos = {
                "CPG": "https://static.wixstatic.com/media/7ac3b8_56c56c48b6714f5ca207611243f8b1d7~mv2.png/v1/fill/w_174,h_180,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/logo_cpg.png",
                "BIOMA": "https://static.wixstatic.com/media/7ac3b8_f9fd2cae5b3c4cfea72498c8fcb3ce79~mv2.png/v1/fill/w_174,h_180,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/logo_bioma.png",
                "default": "https://static.wixstatic.com/media/7ac3b8_732d36fed8eb49379daffc6b182b7fc5~mv2.png/v1/fill/w_174,h_180,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/logoisertec_1.png"
            };

            logo.src = logos[seleccion] || logos["default"];
        });
    });

   

    function displayResult() {
        const name = document.getElementById('name').value;
        const puesto = document.getElementById('puesto').value;
        const especialidad = document.getElementById('especialidad').value;
        const especialidad2 = document.getElementById('especialidad2').value;
        const especialidad3 = document.getElementById('especialidad3').value;
        const phone = document.getElementById('phone').value;
        const mobile = document.getElementById('mobile').value;
        const email = document.getElementById('email').value;
        const country = document.getElementById('country').value;

        const formattedPhone = phone.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2');
        const formattedMobile = mobile.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2');
        const especialidades = [especialidad, especialidad2, especialidad3].filter(especialidad => especialidad && especialidad.trim() !== "");

        const formattedPosition = especialidades.length > 0 ? especialidades.join(" | ") : "";
        document.getElementById("nombre").innerText = name;
        document.getElementById("puesto_e").innerText = puesto;
        document.getElementById("especialidad_formatted").innerText = formattedPosition;
        document.getElementById("ws").innerText = '(+' + country + ') ' + mobile;
        document.getElementById("telefono").innerText = '(+' + country + ') ' + phone;
        document.getElementById("correo").innerText = email;
        document.getElementById('instructions').style.display = 'block';

        if (country && mobile) {
            var url = "https://wa.me/" + country + mobile;
            document.getElementById("ws").href = url;
        }
    }

    function copiarAlPortapapeles() {
        const contenido = document.getElementById("result");
        const range = document.createRange();
        range.selectNode(contenido);
        const selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
        try {
            document.execCommand("copy");
            alert("!Contenido copiado al portapapeles!");
        } catch (err) {
            console.error("Error al copiar: ", err);
        }

        selection.removeAllRanges();
    }
</script>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-lg-6 mb-5">

            <div>
                <h2 style="margin-top: 25px; color: #166F4F; font-weight:700;">
                    Firma de Correo electronico
                </h2>
                <h4 style="color: #4D4D57; font-weight:600;">
                    Instrucciónes
                </h4>
                <ol>
                    <li>Llena todos los campos TAL Y COMO INDICAN LOS EJEMPLOS.</li>
                    <li>Haz click en "Generar Firma".</li>
                </ol>

            </div>
            <hr style="border-color:#D9D9D9;">
            <form id="userForm" onsubmit="return false;">
                <div class="form-group">
                    <label for="name" style="color: #4D4D57; font-weight: 600;">Nombre y Apellido:</label>
                    <input class="form-control" style="border:1px solid #CCCCCC;" type="text" id="name" required>
                </div>
                <div class="form-group">
                    <label for="unidad">División:</label>
                    <select id="unidad" class="form-control" required>
                        <option value="">Selecciona División</option>
                        <option value="ISERTEC">ISERTEC</option>
                        <option value="BIOMA">BIOMA</option>
                        <option value="CPG">CPG</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="puesto">Puesto:</label>
                    <input class="form-control" type="text" id="puesto" placeholder="Nombre Empleado" required value="@puesto" readonly style="background:#ECEDE8; border:1px solid #CCCCCC;">

                </div>

                <div class="form-group">
                    <label for="especialidad">Especialidad:</label>
                    <input class="form-control" type="text" id="especialidad" placeholder="" required maxlength="20" style="border:1px solid #CCCCCC;">
                </div>

                <div class="form-group">
                    <label for="especialidad2">Especialidad 2:</label>
                    <input class="form-control" type="text" id="especialidad2" placeholder="" required maxlength="20" style="border:1px solid #CCCCCC;">
                </div>

                <div class="form-group">
                    <label for="especialidad3">Especialidad 3:</label>
                    <input class="form-control" type="text" id="especialidad3" placeholder="" required maxlength="20" style="border:1px solid #CCCCCC;">
                </div>

                <div class="form-group">
                    <label for="phone">Tel&eacute;fono:</label>
                    <input class="form-control" type="tel" id="phone" placeholder="24272427" required style="border:1px solid #CCCCCC;">
                </div>

                <div class="form-group">
                    <label for="mobile">Whatsapp:</label>
                    <input class="form-control" type="tel" id="mobile" placeholder="43214321" required style="border:1px solid #CCCCCC;">
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" type="email" id="email" placeholder="info@isertec.com" required style="border:1px solid #CCCCCC;">
                </div>

                <div class="form-group">
                    <label for="country">Pa&iacute;s:</label>
                    <select class="form-control" id="country" required>
                        <option value="">Escoge tu oficina</option>
                        <option value="502">Guatemala</option>
                        <option value="504">Honduras</option>
                    </select>
                </div>

                <div class="d-flex flex-column flex-md-row gap-2 justify-content-end mt-3">
                    <button type="button" class="btn btn-secondary" onclick="displayResult()" style="background:#808080; border-color:#808080;">
                        Generar Firma
                    </button>

                    <button type="button" class="btn btn-primary" onclick="copiarAlPortapapeles()" style="background:#166F4F; border-color:#166F4F;">
                        Copiar Contenido
                    </button>
                </div>
            </form>
            <br>
            <br>
            <div id="result"
                 class="d-flex flex-column flex-md-row align-items-center gap-3"
                 style="width:100%;border:1px solid #D9D9D9; border-radius:12px;padding:16px;margin-top:15px; background:#FFFFFF; box-shadow:0 4px 12px rgba(0,0,0,0.08);">


                <div class="column left" style="flex:1; display:flex; justify-content:left; margin-top:0px;">
                    <img id="logo"
                         src="https://static.wixstatic.com/media/7ac3b8_732d36fed8eb49379daffc6b182b7fc5~mv2.png/v1/fill/w_174,h_180,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/logoisertec_1.png"
                         style="width:120px; max-width:100%;">
                </div>

                <div id="resultContent" class="column right text-center text-md-start" style="flex:4; padding:5px;>
                    <h3 id="nombre" style="font-weight:bold; font-size:18px; color:#313538; margin:0;"></h3>
                    <p id="puesto_e" style="font-weight:bold; color:#666; font-style:italic; margin:5px 0;"></p>
                    <p id="especialidad_formatted" style="color:black; margin:5px 0; font-size:12px;"></p>

                    <p style="margin:5px 0; font-size:small;">
                        WhatsApp: <a id="ws" href="#" style="color:#313538;"></a><br>
                        Tel&eacute;fono: <a id="telefono" href="#" style="color:#313538;"></a><br>
                        Correo: <a id="correo" href="#" style="color:#313538;"></a>
                    </p>
                </div>

            </div>

            <div id="instructions" style="display:none;">
                <h4>Instrucciones</h4>
                <ol>
                    <li>Selecciona <b>el contenido de la caja verde</b> y c&oacute;pialo (CTRL+C)</li>
                    <li>
                        Ve a la configuraci&oacute;n general de tu correo de Gmail <a href="https://mail.google.com/mail/u/0/#settings/general">aqu&iacute;.</a> Baja y busca la
                        secci&oacute;n "Firma" o "Signature".
                    </li>
                    <li>
                        Pega (CTRL+V) la firma <b>tal y como est&aacute;.</b> Los links han sido generados para hacer match
                        as&iacute; que por favor NO HAGAS CAMBIOS.
                    </li>
                    <li>Guarda tu nueva configuraci&oacute;n en Gmail. Listo!</li>
                </ol>
            </div>
        </div>
    </div>
</div>

