
@{
    ViewBag.Title = "Politicas Internas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-11">
            <h4>Políticas Internas ISERTEC</h4>
            <hr />


            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-3 mb-3 bg-secondary text-center">
                        <a href="~/Files/REGLAMENTO INTERIOR DE TRABAJO ISERTEC.pdf" style="color:white">Reglamento Interno de Trabajo</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card shadow p-3 mb-3 bg-secondary text-center">
                        <a href="~/Files/Politicas Comerciales 2024.pdf" style="color:white">Polìticas Comerciales</a>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Politicas Corporativas 2024.pdf" style="color:white!important">Politicas Corporativas</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Politicas Operativas 2024.pdf" style="color:white!important">Politicas Operativas</a>
                    </div>
                </div>

            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Politicas Corporativas 2024.pdf" style="color:white!important">Politicas Corporativas</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Politicas Operativas 2024.pdf" style="color:white!important">Politicas Operativas</a>
                    </div>
                </div>

            </div>


            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Política del EPP.pdf" style="color:white!important">Politica del EPP</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="~/Files/Política SSO ISERTEC.pdf" style="color:white!important">Politica SSO ISERTEC</a>
                    </div>
                </div>

            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-4 mb-3 text-center bg-secondary">
                        <a href="@Url.Action("FlujogramaIsertec", "Account")" style="color:white!important">Flujograma Isertec</a>

                    </div>
                </div>
            </div>

            <div class="form-row">

            </div>
        </div>
    </div>
</div>
