
@{
    ViewBag.Title = "Politicas Internas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-11">
            <h4>Políticas Internas ISERTEC</h4>
            <hr />
            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-3 mb-3">
                        <a href="~/Files/Politica Comercial.pdf">Politica - Comercial</a>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-4">
                    <div class="card shadow p-3 mb-3">
                        <a href="~/Files/Polìticas Admon.pdf">Polìticas Adminsitrativas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

