@{
    ViewBag.Title = "Politicas Internas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    body {
        background-color: #F4F6F9;
    }

    .card-custom {
        background-color: #FFFFFF !important;
        border-radius: 12px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
        border: none;
    }

    .titulo-seccion {
        color: #166F4F;
        font-weight: 700;
    }

    .card-destacada {
        background-color: #E9ECEF !important;
        border-radius: 12px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
        transition: all 0.25s ease;
    }

    .icono-doc {
        font-size: 32px;
        color: #000000;
    }

    .link-card {
        display: block;
        height: 100%;
        text-decoration: none;
        color: black;
    }

        .link-card:hover .card-destacada {
            transform: translateY(-4px);
            box-shadow: 0 16px 35px rgba(0,0,0,0.18);
            cursor: pointer;
        }
</style>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-11 mt-4">

            <div class="card-custom p-4">

                <h4 class="titulo-seccion text-center">
                    Políticas Internas ISERTEC
                </h4>

                <div class="row g-4" style="margin-top:25px">

                    
                    <div class="col-md-4">
                        <a href="~/Files/REGLAMENTO INTERIOR DE TRABAJO ISERTEC.pdf" target="_blank" class="link-card">
                            <div class="card-destacada text-center p-4 h-100">
                                <div><i class="bi bi-file-earmark-text icono-doc"></i></div>
                                <div class="fw-semibold fs-5" style="color:#000000;">
                                    Reglamento Interno de Trabajo
                                </div>
                            </div>
                        </a>
                    </div>

                  
                    <div class="col-md-4">
                        <a href="~/Files/Politicas Comerciales 2024.pdf" target="_blank" class="link-card">
                            <div class="card-destacada text-center p-4 h-100">
                                <div><i class="bi bi-file-earmark-text icono-doc"></i></div>
                                <div class="fw-semibold fs-5" style="color:#000000;">
                                    Políticas Comerciales
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="~/Files/Politicas Corporativas 2024.pdf" target="_blank" class="link-card">
                            <div class="card-destacada text-center p-4 h-100">
                                <div><i class="bi bi-file-earmark-text icono-doc"></i></div>
                                <div class="fw-semibold fs-5" style="color:#000000;">
                                    Políticas Corporativas
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-md-4">
                        <a href="~/Files/Politicas Operativas 2024.pdf" target="_blank" class="link-card">
                            <div class="card-destacada text-center p-4 h-100">
                                <div><i class="bi bi-file-earmark-text icono-doc"></i></div>
                                <div class="fw-semibold fs-5" style="color:#000000;">
                                    
                                    Políticas Operativas
                                </div>
                            </div>
                        </a>
                    </div>

         
                    <div class="col-md-4">
                        <a href="~/Files/Política del EPP.pdf" target="_blank" class="link-card">
                            <div class="card-destacada text-center p-4 h-100">
                                <div><i class="bi bi-file-earmark-text icono-doc"></i></div>
                                <div class="fw-semibold fs-5" style="color:#000000;">
                                    Política del EPP
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="~/Files/Política SSO ISERTEC.pdf" target="_blank" class="link-card">
                            <div class="card-destacada text-center p-4 h-100">

                                <div>
                                    <i class="bi bi-file-earmark-text icono-doc"></i>
                                </div>

                                <div class="fw-semibold fs-5" style="color:#000000;">
                                    Política SSO ISERTEC
                                </div>

                            </div>
                        </a>
                    </div>

                    
                    <div class="col-md-4">
                        <a href="@Url.Action("FlujogramaIsertec", "Account")" target="_blank" class="link-card">
                            <div class="card-destacada text-center p-4 h-100">
                                <div><i class="bi bi-file-earmark-text icono-doc"></i></div>
                                <div class="fw-semibold fs-5" style="color:#000000;">
                                    Flujograma Isertec
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>