@using System.Security;
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <title>Isertec - Iniciar Sesión</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/Content/CSS/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

</head>
<body>
    @RenderBody()
</body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</html>
